<div class="card">
  <div class="card-header bg-dark text-white"><h1>Details Posts</h1></div>
  <div class="card-body">
    <!-- Si postDetails ya tiene datos, muestra el contenido. Si no tiene, muestra lo que está en <ng-template #loading>. -->
    <div *ngIf="postDetails; else loading">
      <div>
        <p><strong>User ID:</strong> {{ postDetails.userId }}</p>
        <p><strong>ID:</strong> {{ postDetails.id }}</p>
        <p><strong>Título:</strong> {{ postDetails.title }}</p>
        <p><strong>Body:</strong> {{ postDetails.body }}</p> 
        <!-- botón que redirige a la ruta /posts para volver al listado general. -->
        <button routerLink="/posts" class="btn btn-secondary"> 
          Volver a la lista
        </button>
      </div>
    </div>
    <ng-template #loading>
      <p>Cargando detalles del post...</p>
    </ng-template>
  </div>
</div>
